body{
  background-image: url(../image/b1.jpg);

}
.jumbotron{
  background-image: url(../image/b2.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size:contain;
  background-color: black;
  height: 100%;
  
}


h2{
  color:brown;
}
.add{
  
}

